@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} 

body {
    font-family: 'Teko', sans-serif;
    background-color: #585353;
    height: 150vh;

}

.header {
    
   position: fixed; 
   top: 0;
   left: 0;
   right: 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0.2rem 3rem;
   background-color: #1c2330;;
   height: 10vh;
} 

.header a{
    text-decoration: none;
    color:#ddd;
    font-size: 3rem;
}
.header a.logo{
    transition: all 0.2s ease-in-out;
}
.header a.logo:hover {
    font-size: 3.5rem;
    transform: scale(1.1)
}
.header span {
    color: rgb(155, 9, 9);
}
.nav-menu-items {
    list-style: none;
    display: flex;
    align-items: center;
} 
.nav-menu-items li a {
font-size: 1.5rem;    
padding: 0.5em 1em;
transition: background 0.3s ease-in-out, color 0.2s ease;

}

.nav-menu-items li a:hover {
       color:rgb(110, 107, 107);
}

.nav-menu-btn{
    
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    z-index: 1;

}
.nav-menu-btn-lines {
width: 1.5rem;
height: 0.15rem;
background-color:#ddd;
transition: all 0.3s ease-in-out;

}
.nav-menu-btn-lines::before{
    width: 1.5rem;
height: 0.15rem;
background-color: #ddd;
transition: all 0.3s ease-in-out;
content: "";
position: absolute;
transform: translateY(-0.5rem);
}
.nav-menu-btn-lines::after{
    width: 1.5rem;
height: 0.15rem;
background-color: #ddd;
transition: all 0.3s ease-in-out;
content: "";
position: absolute;
transform: translateY(0.5rem);
}

.nav-menu-btn.open .nav-menu-btn-lines{
    transform:translateX(2rem);
    background-color:transparent;
}
.nav-menu-btn.open .nav-menu-btn-lines::before {
    transform: rotate(45deg) translate(-1.5rem, 1.5rem);
    background-color: rgb(155, 9, 9);
}

.nav-menu-btn.open .nav-menu-btn-lines::after {
    transform: rotate(-45deg) translate(-1.5rem, -1.5rem);
    background-color: rgb(155, 9, 9);
}

.main{
    display: flex;
    background-color:#0d0d26 ;
}
.left-bar {
    position: fixed;
    height: 100%;
    text-align: center;
    margin-top: 10vh ;
    color: whitesmoke;
    padding-left: 0.6rem;
    padding-right: 2rem;
    background-color: #0c1a27;
    
}

.left-bar-item-first{
    font-size: 3rem;
    color: whitesmoke;
    text-decoration: none;
}


.left-bar-item{

    font-size: 2rem;
    color:whitesmoke;
    text-decoration: none;
    display: flex;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-right: 1.5rem;
    border-bottom: 2px solid whitesmoke;
}

.left-bar-item-first:hover{
    color: red;
    transition: 0.3s ease-out;
}
.left-bar-item-first:hover span{
    color: red;
    transition: 0.3s ease-out;
    transform: rotate(-180deg);
}
.left-bar-item:hover{
    color:red;
    transition: 0.3s ease-out;
}
.content{
    background-color: #0d0d26;
    margin-top: 14vh;
    margin-left: 2rem;
    
    color: whitesmoke;
}


.footer-container{
    background-color: #212329;
    padding-bottom: 3rem;

}

.footer{
    
    height: 50vh;
    background-color: #14141f;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
    margin-left: 23vh;
    padding-top: 1rem;
    
}

.footerheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 7rem;
    margin-left: 7rem;

}
.footerheading h2{
    text-align: center;
    border-bottom: 2px solid whitesmoke;
}

.footerheading h2{
    font-size: 2.5rem;
    margin-bottom: 2rem;

}

.footerheading a{
    color:whitesmoke;
    text-decoration: none;
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.5rem;
    
}
.footerheading a:hover{
    color:yellow;
    transition: 0.3s ease-out;
}

@media (max-width: 1255px){
    .footerheading{
        display: flex;
        flex-direction: column;
        margin-right: 7rem;
        margin-left: 7rem;
    
    }
}
@media (max-width: 1024px) {
.header {
    height: 9vh;
}

.nav-menu-btn {
    display: flex;

}

.nav-menu-items {
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    
    left: 0;
    height: 100vh;
    background-color: #1c2330;
    transform: translateX(100vw);
    transition: transform 0.2s ease-in-out;
    opacity: 0.9;

}
.nav-menu-items.open {
    transform: translateX(70vw);
    opacity: 0.9;
}
.nav-menu-items li {
    width: 100vw;
    height: 100%;
}
.nav-menu-items li a {
     padding-left: 8vw; 
   font-size: 3vh;
   display: flex;
   justify-content: flex-start ;
   align-items: center;
   width: 100%;
   height: 100%;
   border-bottom: 1.5px solid #ddd;
   
}
.footerheading{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 5rem;

}


}






@media (max-width: 771.5px) {
    .header {
        height: 8vh;
    }
.header a {
    font-size: 3rem;
}
.header a.logo:hover {
    font-size: 3.2rem;
    
}
.nav-menu-btn {
    display: flex;

}
.nav-menu-items {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    right:0 ;
    left: 0;
    height: 100vh;
    background-color: #1c2330;
    transform: translateX(100vw);
    transition: transform 0.2s ease-in-out;

}
.nav-menu-items.open {
    transform: translateX(0);
}
.nav-menu-items li {
    width: 90vw;
    height: 100%;
}
.nav-menu-items li a {
   font-size: 5vh;
   display: flex;
   justify-content: center ;
   align-items: center;
   width: 100%;
   height: 100%;
   border-bottom: 1.5px solid #ddd;
   
}
.footer{
    
    height: 100vh;
    background-color: #0a1429;
    color:whitesmoke;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
    padding-top: 1rem;
}
}
@media (max-width: 530px){
    .footer{
    
        height: 150vh;
        background-color: #0a1429;
        color:whitesmoke;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin:0 auto;
        padding-top: 1rem;
    }
}